---
layout: sac-a-proces.njk
---

<link href="{{ "/assets/css/content-pages.css" | relative(page) }}" rel="stylesheet">

<div class="content-page">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</div>
